.header {
    padding-block: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    @media (min-width: 57.625rem) {
        padding-block: 2rem;
    }
}

.logo-text {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    
    @media (min-width: 57.625rem) {
        font-size: 1.1rem;
    }
}

.top-nav {
    position: absolute;
    /* top: 100%; */
    bottom: 100%;
    width: 100%;
    padding: 2.4rem 2rem;
    text-align: right;

    background-color: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1;
    
    @media (min-width: 57.625rem) {
        padding: unset;
        position: unset;
        background-color: unset;
        width: unset;
        text-align: unset;
    }
}


/*----- Navigation Toggle -----*/

.opened + .top-nav {
    top: 100%;
    bottom: unset;
}

/*----- Navigation Toggle End -----*/


.top-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
    @media (min-width: 57.625rem) {
        flex-direction: unset;
        gap: 1.7rem;
    }
}

.top-nav-link {
    font-weight: 700;
    font-size: 1.1rem;
}


/*----- Navigation Toggle Button -----*/

.nav-toggle-btn {
    padding: 10px;
    border-radius: 50%;
    background: transparent;
    border: 5px solid var(--clr-tertiary);
    outline: none;

    @media (min-width: 57.625rem) {
        display: none;
    }
}